.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

node_modules
atlassian-ide-plugin.xml
/.project
test/temp/
/docs
*debug.log*
.vscode
.DS_Store
/.jhipster
yarn-error.log
*.sw?